.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.main form input {
    margin-top: 15px;
    border: 1px solid #DDD;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
}

.main form button {
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #318df7;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.main form button:hover{
  background: #0d63c5;
}

.forgot{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.main form a:hover {
  text-decoration: underline;
}
